<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type='text' [(ngModel)]='username'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]='password'></ion-input>
      <ion-icon (click)='togglePassword()' [name]='passwordToggleIcon'></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button (click)='signIn()' [disabled]='!username || !password' expand='full'>
    Sign In
  </ion-button> 
</ion-content>